@(article: Article)

    @scripts = {
        <script>
                var deletePost = function (id) {
                    var confirm = window.confirm("Do you want to continue?");
                    if (confirm) {
                        $.ajax({
                            url: "/delete/articles/" + id,
                            type: 'post',
                            success: function (data) {
                                window.location.href = "/";
                            },
                            error: function (e, c) {
                                console.log(e);
                                console.log(c);
                            }
                        });
                    }
                    return false;
                }
        </script>
    }

    @main(article.getTitle, scripts = scripts) {
        <h1>@article.getTitle
            @if(session().get("username") != null) {
                <div class="actions pull-right">
                    <a class="btn btn-primary" href="@routes.ArticleController.edit(article.getId)">Edit</a>
                    <a class="btn btn-danger" onclick="return deletePost(@article.getId);" href="@routes.ArticleController.delete(article.getId)">
                        Delete</a>
                </div>
            }
        </h1>

        <div class="article">
        @Html(article.getContent)
        </div>
    }