@(form: Form[Article])

@scripts = {
    @editorScripts()
}
@main("New Post", scripts = scripts) {
    <div id="form-div">
        <form action="@routes.ArticleController.post()" method="post" onsubmit="return doSubmit(event)">
            @editor(form)
        </form>
    </div>
}