@()
<script>
        var contentEditor = undefined;

        function doSubmit(event) {
            return true;
        }
</script>
<script>
//        $(document).ready(function () {
//
//            contentEditor = new SquireUI({
//                div: '#div-content',
//                height: 200
//            });
//            console.log(contentEditor);
//            var content = $("#content").text();
//            $("#content").text("");
//            if (content !== undefined) {
//                //contentEditor.setHTML(content);
//            }
//        });
</script>