@(form: Form[Article])

<input type="hidden" name="@form("id").name" value="@form("id").value">

<label for="title">Title</label>
<div class="input-group @if(form("title").hasErrors) {error}">
    <span class="input-group-addon"><i class="glyphicon glyphicon-mark"></i></span>
    <input id="title" type="text" class="form-control" name="@form("title").name"
    value="@form("title").value" placeholder="Title" required>
    @if(form("title").hasErrors) {
        <div class="error">
        @{
            form("title").error.map { error => error.message }
        }
        </div>
    }
</div>
<label for="content"><h2>Content</h2></label>
<div class="input-group @if(form("content").hasErrors) {error}" style="width: 100%">
    <textarea id="content" class="form-control" title="Content" placeholder="Content" rows="10"
    name="@form("content").name">@form("content").value</textarea>
    @if(form("content").hasErrors) {
        <div class="error">
        @{
            form("content").error.map { error => error.message }
        }
        </div>
    }
</div>

@if(!form("id").valueOr("").isEmpty) {
    <a class="btn btn-default" href="@routes.ArticleController.show(Long.valueOf(form("id").value))">Cancel</a>
}
<button class="btn btn-u btn-primary">Validate</button>