@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(articles: List[Article])

@scripts = {
    <script>
        $(function(){
            $("div.article-content").each(function (i, e) {
                var text = $(this).text()
                var showable;
                if(text.length > 200) {
                    showable = text.substring(0, 200) +"..."
                } else {
                    showable = text
                }
                $(this).text(showable)
            })
        })
    </script>
}
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Welcome to Cheickode", scripts = scripts) {
    @for(article <- articles) {
        <h3><a href="@routes.ArticleController.show(article.getId)">@article.getTitle</a></h3>
        <div class="article-content">
        @Html(article.getContent)
        </div>
        <hr />
    }
}
