@()
<script>
        var problemEditor;
        var solutionEditor;

        function doSubmit() {
            return true;
        }
</script>
<script>
//        $(document).ready(function () {
//
//            problemEditor = new SquireUI({
//                div: 'div#div-problem',
//                height: 200
//            });
//            var problem = $("#problem").text();
//            $("#problem").text("");
//            if (problem != undefined) {
//                problemEditor.setHTML(problem);
//            }
//
//            solutionEditor = new SquireUI({
//                div: 'div#div-solution',
//                height: 300
//            });
//            var solution = $("#solution").text();
//            $("#solution").text("")
//            if (solution != undefined) {
//                solutionEditor.setHTML(solution);
//            }
//        });
</script>