@(form: Form[Post])

<input type="hidden" name="@form("id").name" value="@form("id").value">

<label for="title">Title</label>
<div class="input-group @if(form("title").hasErrors) {error}">
    <span class="input-group-addon"><i class="glyphicon glyphicon-mark"></i></span>
    <input id="title" type="text" class="form-control" name="@form("title").name"
    value="@form("title").value" placeholder="Title" required>
    @if(form("title").hasErrors) {
        <div class="error">
        @{
            form("title").error.map { error => error.message }
        }
        </div>
    }
</div>
<div class="input-group @if(form("problem").hasErrors) {error}" style="width: 100%">
    <label for="problem"><h2>Problem</h2></label>
    <textarea class="form-control" id="problem" title="Problem" placeholder="Problem" rows="10"
    name="@form("problem").name">@form("problem").value</textarea>
    @if(form("problem").hasErrors) {
        <div class="error">
        @{
            form("problem").error.map { error => error.message }
        }
        </div>
    }
</div>
<div class="input-group @if(form("solution").hasErrors) {error}" style="width: 100%">
    <label for="div-solution"><h2>Solution</h2></label>
    <textarea class="form-control" id="solution" title="Solution" placeholder="Solution" rows="10"
    name="@form("solution").name">@form("solution").value</textarea>
    @if(form("solution").hasErrors) {
        <div class="error">
        @{
            form("solution").error.map { error => error.message }
        }
        </div>
    }
</div>
    @if(!form("id").valueOr("").isEmpty) {
        <a class="btn btn-default" href="@routes.PostController.show(Long.valueOf(form("id").value))">Cancel</a>
    }
<button class="btn btn-u btn-primary">Validate</button>