@(post: Post)

    @scripts = {
        <script>
                var deletePost = function (id) {
                    var confirm = window.confirm("Do you want to continue?");
                    if (confirm) {
                        $.ajax({
                            url: "/delete/posts/" + id,
                            type: 'post',
                            success: function (data) {
                                window.location.href = "/";
                            },
                            error: function (e, c) {
                                console.log(e);
                                console.log(c);
                            }
                        });
                    }
                    return false;
                }
        </script>
    }

    @main(post.title, scripts = scripts) {
        <h1>@post.title
            @if(session().get("username") != null) {
                <div class="actions pull-right">
                    <a class="btn btn-primary" href="@routes.PostController.edit(post.id)">Edit</a>
                    <a class="btn btn-danger" onclick="return deletePost(@post.id);" href="@routes.PostController.delete(post.id)">
                        Delete</a>
                </div>
            }
        </h1>

        <p>@Html(post.problem)</p>
        <hr/>
        <p>@Html(post.solution)</p>
    }