@()

    @controller = @{
        Http.Context.current().args.get("ROUTE_CONTROLLER")
    }

    @method = @{
        Http.Context.current().args.get("ROUTE_ACTION_METHOD")
    }

    @action = @{
        controller + "." + method
    }

    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menus" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.PostController.index()">Cheickode</a>
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="header-menus">
                <ul class="nav navbar-nav">
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="@if(action == "controllers.ArticleController.index") {active}">
                        <a href="@routes.ArticleController.index()">
                        Articles
                        </a>
                    </li>
                    <li class="@if(action == "controllers.PostController.index") {active}">
                        <a href="@routes.PostController.index()">
                            Posts
                        </a>
                    </li>
                    <li class="@if(action == "controllers.ArticleController.create") {active}">
                        <a href="@routes.ArticleController.create()">New Article</a>
                    </li>
                    <li class="@if(action == "controllers.PostController.create") {active}">
                        <a href="@routes.PostController.create()">New Post</a>
                    </li>
                    <li class="dropdown @if(method == "login") {active}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                            @if(session().get("username") == null) {
                                @Messages("home.login")
                            } else {
                                @Messages("home.account")
                            } <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if(session().get("username") == null) {
                                <li><a href="/login">Log In</a></li>
                            } else {
                                <li><a href="/logout">Log out</a></li>
                            }
                        <li role="separator" class="divider"></li>
                        <li><a href="#">About Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
    </nav>
